includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - packages/transmitsms-client/src
        - packages/transmitsms-laravel/src
        - packages/transmitsms-laravel/config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
